<div class="row" data-aos="fade-up">
              <div class="col-xl-8 stretch-card grid-margin">
                <div class="position-relative">
                  <img
                    src="assets/images/dashboard/banner.jpg"
                    alt="banner"
                    class="img-fluid"
                  />
                  <div class="banner-content">
                    <div class="badge badge-danger fs-12 font-weight-bold mb-3">
                      global news
                    </div>
                    <h1 class="mb-0">GLOBAL PANDEMIC</h1>
                    <h1 class="mb-2">
                      Coronavirus Outbreak LIVE Updates: ICSE, CBSE Exams
                      Postponed, 168 Trains
                    </h1>
                    <div class="fs-12">
                      <span class="mr-2">Photo </span>10 Minutes ago
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 stretch-card grid-margin">
                <div class="card bg-secondary text-white">
                  <div class="card-body">
                    <h2>Derniers news</h2>
                    {% for postlast in postsLatest %}
                     
                    <div class="d-flex border-bottom-blue pt-3 pb-3 align-items-center justify-content-between">
                      <div class="pr-3">
                        <h5><a href="{{path('post_show',{id:postlast.id,slug:postlast.slug})}}" class="text-white">{{postlast.title}}</h5></a>
                        <div class="fs-12">
                          <span class="mr-2">Date: </span>10 Minutes ago
                        </div>
                      </div>
                      <div class="rotate-img">
                        <img
                          src="assets/images/dashboard/home_1.jpg"
                          alt="thumb"
                          class="img-fluid img-lg"
                        />
                      </div>
                    </div>
                       {% endfor %}

                
                  </div>
                </div>
              </div>
            </div>