<header id="header">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="navbar-top">
                <div class="d-flex justify-content-between align-items-center">
                  <ul class="navbar-top-left-menu">
                    <li class="nav-item">
                      <a href="pages/aboutus.html" class="nav-link">Apropos</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Appel d'offre</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Offre d'emploi</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Dans la presse</a>
                    </li>
                  </ul>
                  <ul class="navbar-top-right-menu">
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Nouveau Compte</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="navbar-bottom">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a class="navbar-brand" href="#">
                      <!-- <img src="assets/images/logo.svg" alt=""/> -->
                      <h3 style="color:yellow;">AU CONGO</h3>
                      </a>
                  </div>
                  <div>
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                      class="navbar-collapse justify-content-center collapse"
                      id="navbarSupportedContent"
                    >
                      <ul
                        class="navbar-nav d-lg-flex justify-content-between align-items-center"
                      >
                        <li>
                          <button class="navbar-close">
                            <i class="mdi mdi-close"></i>
                          </button>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="index.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{path('post_cat',{name:'magazine'})}}">MAGAZINE</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="pages/business.html">Business</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="pages/sports.html">Sports</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="pages/art.html">Art</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="pages/politics.html">POLITIQUES</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="pages/travel.html">Voyage</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="pages/contactus.html">Contact</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <ul class="social-media">
                    <li>
                      <a href="#">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </header>
        {% include "partials/_flashNews.html.twig" %}
